<div class="row">
	<div class="col-lg-8">
		<h3>main content</h3>
		<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga incidunt veniam asperiores sit temporibus, fugit sunt tempora, quidem voluptatem praesentium! Nesciunt natus deleniti tenetur hic doloremque voluptatibus dolorum fuga debitis?</span><span>Doloribus aliquid reprehenderit modi adipisci odit quasi officiis nemo tempora eligendi voluptate sint aspernatur ducimus, voluptates veritatis, id autem dolores sapiente. Cum animi aliquid alias itaque officiis dolorem nesciunt, pariatur!</span></p>
	</div>
	<div class="col-lg-4">
		<h3>side bar </h3>
		<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora rerum, amet nulla illo iusto earum reprehenderit et porro iure quibusdam, obcaecati assumenda ut quas deleniti perferendis recusandae! Perspiciatis, delectus, quae.</span><span>Asperiores iure deserunt placeat, sed eveniet, voluptate aliquid, distinctio, earum debitis alias accusantium? Enim delectus unde quod voluptatibus perferendis tempore suscipit in id minima temporibus nesciunt doloremque, quidem quas iure.</span></p>
	</div>
</div>