<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-12">
                <h3>Offer of the day</h3>
                <img src="http://placehold.it/860x150&text=Map+goes+here" alt="" class="img-responsive">
            </div>
            <div class="col-lg-12">
                <h3>menu</h3>
                <ul>
                    <li>Menu Item # One</li>
                    <li>Menu Item # Two</li>
                    <li>Menu Item # Three</li>
                    <li>Menu Item # Four</li>
                    <li>Menu Item # Five</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
        	<div class="col-lg-12">
        		<h3>social media icons</h3>
        	</div>
        	<div class="col-lg-12">
        		<h3>current events</h3>
        		<ul>
        			<li>event 1</li>
        			<li>event 2</li>
        			<li>event 3</li>
        			<li>event 4</li>
        		</ul>
        	</div>
        </div>
    </div>
</div>
<!-- three boxes  -->
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img src="http://placehold.it/370x150&text=whats+on+here" alt="" class="img-thumbnail img-responsive">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img src="http://placehold.it/370x150&text=latest+offers+here" alt="" class="img-thumbnail img-responsive">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img src="http://placehold.it/370x150&text=last+3+blogposts" alt="" class="img-thumbnail img-responsive">
    </div>
</div>
