 <hr>
 <h3>Try out our tasty English Menu</h3>
 <hr>
<div class="row">
    <div class="col-lg-8">
        <table class="table">
            <caption>Optional table caption.</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Meal</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Salad cesars</td>
                    <td>12.4 $</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Steak with sauce</td>
                    <td>9.99 $</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry curry rice</td>
                    <td>13.5 $</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Salad cesars</td>
                    <td>12.4 $</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Steak with sauce</td>
                    <td>9.99 $</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Larry curry rice</td>
                    <td>13.5 $</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Salad cesars</td>
                    <td>12.4 $</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Steak with sauce</td>
                    <td>9.99 $</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Larry curry rice</td>
                    <td>13.5 $</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Salad cesars</td>
                    <td>12.4 $</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>Steak with sauce</td>
                    <td>14.5 $</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>Larry curry rice</td>
                    <td>13.5 $</td>
                </tr>
            </tbody>
        </table>
    </div>
       <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
        <!-- Blog Search Well -->
        <div class="well">
            <h4>Blog Search</h4>
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
            <!-- /.input-group -->
        </div>
         <hr>
        <!-- Blog Categories Well -->
        <div class="well">
            <h4>Latest Blog Posts</h4>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled">
                        <li><a href="#">Champions League Predictions</a>
                        </li>
                        <li><a href="#">Worldcup Series </a>
                        </li>
                        <li><a href="#">Referees in troubble</a>
                        </li>
                        <li><a href="#">Chelsea will win the cup</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
        </div>
         <hr>
        <!-- Side Widget Well -->
        <div class="well">
            <h3>current events</h3>
            <ul class="list-unstyled">
                <li><a href="#/user">Chelsea vs Bayern Munchen</a>
                </li>
                <li><a href="#/user">Real Madrid vs Barcelona</a>
                </li>
                <li><a href="#/user">NBA final</a>
                </li>
                <li><a href="#/user">Tour d France</a>
                </li>
            </ul>
        </div>
         <hr>
    </div>
</div>
