
<div class="container">
	<div class="row">
		<h2 class="text-center">Contact Form</h2>
		<hr>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<img class="img-responsive" alt="" src="http://placehold.it/450x450/0eafff/ffffff.png" />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<!-- mail form -->
			<form role="form">

					  <div class="form-group">
					    <label for="exampleInputEmail1">name</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					  </div>

					  <div class="form-group">
					    <label for="exampleInputEmail1">title</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					  </div>

					  <div class="form-group">
					    <label for="exampleInputEmail1">Email address</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					  </div>
					 
					   <div class="form-group">
					    <label for="exampleInputFile">enter text</label>
					    <textarea class="form-control" rows="3"></textarea>
					  </div>

					  
					  <button type="submit" class="btn btn-default">Submit</button>
			</form>

			<!-- end mail form -->
			
		</div>
	</div>
</div>
