<div class="row">
    <div class="col-lg-8">
    <hr>
    <h3>Guest the Result & Win Free beers </h3>
    <hr>
        <div class="row">
            <div class="col-lg-6">
                <img class="img-responsive img-thumbnail" src="http://placehold.it/300x500&text=Bet+here+for+your+team">
            </div>
            <div class="col-lg-6">
                <img class="img-responsive img-thumbnail" src="http://placehold.it/300x500&text=Bet+here+for+your+team">
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card hovercard">
            <div class="cardheader">
            </div>
            <div class="avatar">
                <img alt="" src="http://placehold.it/100x100&text=Map+goes+here">
            </div>
            <div class="info">
                <div class="title">
                    Peter Petersen
                </div>
                <div class="desc">Passionate football player</div>
                <div class="desc">Curious dart man</div>
                <div class="desc">Tech geek</div>
            </div>
            <div class="bottom">
                <ol>
                    <li>
                        <h4>achievements: 4</h4> </li>
                    <li>
                        <h4>medals: 4</h4> </li>
                    <li>
                        <h4>points: 6752</h4> </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<hr>
